html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body{
    margin-top: 70px;
}

h1 {
    padding-bottom: 12px;
}

h2 {
    font-size: 18pt;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
}

img {
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 500px;
    margin-bottom: 0.875rem;
}

h1 {
    counter-reset: h2counter;
}

h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}

pre {
    border-radius: 6px;
}

.breadcrumb{
    background-color: lightgray;
}